<% include partials/header %>
	<div>
		<h1>Name of the Bunny is <%= name %></h1>
		<img src="https://www.peta.org/wp-content/uploads/2010/06/iStock_000008440542XSmall1.jpg" alt="">
	</div>
<% include partials/footer %>
