<%- include('../partials/header') %>
	<div class="row">
		<h1 style="text-align: center;">Create a New Camp Ground</h1>
		<div style="width:30%; margin:25px auto;">
			<form action="/camp-grounds" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="Name of the camp ground .">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="location" placeholder="City or Location Name !">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="Details of the location!">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="Image URL .">
				</div>
				<div class="form-group">
				  <button class="btn btn-md btn-success btn-block" type="submit">Add
				  </button>
                </div>
			</form>
			<a href="/camp-grounds" title="List of camp grounds">View Camp Grounds</a>
		</div>
	</div>
<%- include('../partials/footer') %>