.thumbnail img {
	width :100%;
}

.thumbnail {
	padding: 5px;
}

.thumbnail .caption-full {
	padding: 5px;
}

.delete-form {
	display: inline;
}

#form {
	width: 30%;
	margin: 25px auto;
}

#form-heading {
	text-align: center;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}