.thumbnail img {
	width :100%;
}

.thumbnail {
	padding: 5px;
}

.thumbnail .caption-full {
	padding: 5px;
}

.delete-form {
	display: inline;
}

#login-form {
	width: 30%;
	margin: 25px auto;
}

#login-form-heading {
	text-align: center;
}